@font-face {
  font-family: "klavika-Bold";
  src: url(/font/klavika-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: "klavika-Light";
  src: url(/font/klavika-light-webfont.woff) format("woff");
}

@font-face {
  font-family: "klavika-Medium";
  src: url(/font/klavika-medium-webfont.woff) format("woff");
}

@font-face {
  font-family: "klavika-Regular";
  src: url(/font/klavika-regular-webfont.woff) format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}

.page-background {
  background-image: url("/images/background.jpg");
  background-color: black;
  height: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  position: absolute;
  right: 20px;
  bottom: 8px;
  width: 90px;
  height: 90px;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#information {
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  width: 350px;
  top: 44%;
  font-family: "klavika-Light";
  opacity: 0.8;
  animation: fade 2s linear;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: unset;
  border: none;
  width: 10rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 10ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 20px;
}

#slide-arrow-next {
  right: -104px;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

#step-list {
  list-style: none;
  border: dotted;
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "klavika-Light";
  font-size: 12px;
}

#step-list li {
  padding: 0px 8px;
  border-right: 1px dotted;
}

.step-footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
}

#step-details {
  margin-left: 24px;
  color: white;
  font-size: 12px;
  font-family: "klavika-Light";
}

.arrow {
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  color: white;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#summary {
  position: absolute;
  top: 0px;
  height: 100%;
  right: 0px;
  padding: 24px;
  width: auto;
  background: black;
  color: white;
  text-align: right;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.summary-header {
  height: 50%;
  padding: 12px 24px;
  font-size: 48px;
  font-family: "klavika-Regular";
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.summary-main {
  font-size: 12px;
  font-family: "klavika-Light";
}

.content-to-show {
  visibility: hidden;
}

.loading-screen {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoom-in-out-box {
  margin: 24px;
  width: 100px;
  height: 100px;
  animation: zoom-in 0.25s ease, up-down 3s linear;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.5, 0.5);
  }
  20% {
    transform: scale(0.75, 0.75);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}

@keyframes up-down {
  0% {
    margin-bottom: 0px;
  }
  20% {
    margin-bottom: 10px;
  }
  40% {
    margin-bottom: 20px;
  }
  50% {
    margin-bottom: 0px;
  }
  70% {
    margin-bottom: 20px;
  }
  85% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 10px;
  }
}

.typewriter {
  position: fixed;
  top: 60%;
  left: 45%;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s linear;
  font-size: 16px;
  color: white;
  position: fixed;
  width: 280px;
  font-family: "klavika-Light";
  font-style: italic;
}

@keyframes typing {
  0% {
    width: 0;
  }
  25% {
    width: 100;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
